body {
  margin: 10px 20px;
}

/*  Header stylings */

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex: row nowrap;
  border-bottom: 2px solid black;
}

.hleft {
  display: flex;
  align-items: center;
}

.mytimestext {
  padding: 10px;
  color: mediumaquamarine;
}

.hright li {
  display: inline-block;
  padding: 10px;
}

.hright a {
  color: black;
}

.maincontainer {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.large {
  width: 630px;
  border: 1px solid black;
}

.medium {
  width: 300px;
  border: 1px solid black;
}

.small {
  width: 240px;
  border: 1px solid black;
}

.section {
  border: 1px solid black;
}
